StudentXMLandDTD/app/src/main/res/layout/pak_government.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Book" type="BookType"/>
  <xs:complexType name="BookType">
    <xs:sequence>
      <xs:element type="xs:string" name="Title"/>
      <xs:element type="xs:string" name="Author"/>
      <xs:element type="xs:string" name="ISBN"/>
      <xs:element type="xs:string" name="Publisher"/>
      <xs:element type="xs:string" name="Price"/>
      <xs:element type="EditionsType" name="Editions"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EditionsType">
    <xs:sequence>
      <xs:element type="xs:string" name="FirstEdition"/>
      <xs:element type="xs:string" name="SecondEdition"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>