StudentXMLandDTD/app/src/main/res/layout/teacher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TchrInfo" type="TchrInfoType"/>
  <xs:complexType name="TchrInfoType">
    <xs:sequence>
      <xs:element type="TeacherType" name="Teacher" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TeacherType">
    <xs:sequence>
      <xs:element type="xs:string" name="tchr_CNIC"/>
      <xs:element type="xs:string" name="tchr_name"/>
      <xs:element type="xs:string" name="specializaton"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>